.masthead-buttons .button {
    background: #222;
    color: #ffffe8;
    padding: .5em;
    min-width: 24px;
    border-left: #32baa7 4px solid;
}

.masthead-buttons .button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffe8;
    min-width: 24px;
    border-left: #32baa7 4px solid;
}